<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RealmTasks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E1B98FD1E6B66DF00FB33AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E1B99111E6B66DF00FB33AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA0BDB161BCC42EA00318A58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
